*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
header{
    padding: 20px 0;
    background-color: #BBBBBB;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline-block;
    margin:0 0 0 1.5rem ;
    
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2.2rem;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:  1.3%;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.productos li:hover{
    border-color: #C78c19;
    
}
.productos li:hover h2{
    font-size: 2.8rem;
}
.productos li:active{
    border-color: #088c19;
}
.productos h2{
    font-size: 2.3rem;
    font-weight: bold;
}
.producto-descripcion{
    font-size: 1.8rem;
}
.producto-precio{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}
nav a:hover{
    color: #C78c19;
    text-decoration: underline;
    
}
footer{
    padding: 4rem;
    text-align: center;
    background: url(./imagenes/bg.jpg);
}
.copyright{
    margin: 2rem;
    font-size: 1.3rem;
    color: #FFFFFF;
}
